<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace也是找到数据文件的标识，id作为给其他文件找到的标识，resultType找到给予数据的Java类-->
<mapper namespace="dfgdrgrszdgdrz">

    <select id="selectBlog" resultType="com.student">
        select id,name,birth from student
    </select>
    <insert id="insert" >
        insert into student(name,birth)
        values('郑小号','2000-6-2');
    </insert>
</mapper>